{% extends 'basic.html' %}
{% load crispy_forms_tags %}
{% block body %}
<h1><strong><p class=" text-primary text-center">Kindly Enter Player details </p></strong></h1>

<strong><div class="text-justify danger">dffffffffd</div>Kindly Enter a new player details </strong>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <!-- <table> -->

          {% crispy a %}  

        <!-- </table> -->
      
        <input type="submit" value="Submit">

    </form>



</div>


{% endblock %}